@page
@model IndexModel
@{
    ViewData["Title"] = "Ya Ho!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> 2023-04-26 Github Actions MS 교육</a>.</p>
</div>
